# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/proj.win32/Debug
/proj.win32/packages
/proj.mac/Changer.xcodeproj/project.xcworkspace/xcuserdata/wilhantian.xcuserdatad/UserInterfaceState.xcuserstate
